*{
    margin: 0;
    padding: 0;
    block-size: boder-box;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
body{
    position: relative;
}
:root{
    --primery-color:#172228;
    --secondary-color:#EA0046;
    --third-color:#0f181e;
    --animation-down: show-down linear forward;
    --animation-side:show-down forward ;
}
.header{
    /* min-height: 80%; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 100%;
    z-index: 99;
  position: fixed;
}
.logo a{ 
    color: #fff;
    font-size: 2rem;
    margin-left: 60px;
    letter-spacing: 1px;
}
ul li{
    display: inline;
}
ul li a{
    margin:10 20px;
   
    color: gray;
    letter-spacing: 1px;
    transition: .6s;
    font-size: 0.9rem;
    margin-left: 20px;
}
ul li:hover a{
    color: #EA0046;
}
.header .fa-user{
    display: none;
}
button{
    padding: 8px 20px;
    color: #ce860a;
   border-radius: 6px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    z-index: 1;

}
.login-section #top-btn{
    margin-left: 20px;
    margin-right: 20px;
}
.header .fa-bars{
    font-size: 1.3rem;
    color: #fff;
    padding: 8px;
    border: 2px solid var(--secondary-color);
    display: none;
    transition: .6s;
}
.header .fa-bars:hover{

    background-color: var(--secondary-color);
}
i{
    color: black;
}
.header .fa-magnifying-glass{
    color: #fff;
}
.b{
    background-color: rgba(237, 235, 235, 0.928);
    height: 100px;
    width: 100%;
    margin-top: -10px;
}
.headingg{
    font-size: 40px;
    margin-top: -70px;
    text-align: center;
    color: black;
}

.container ul li a{
    text-decoration: none;
    color: black;
    font-size:16px;
}
.active, .container ul li:hover{
   background: rgb(243, 240, 240);
   border-radius: 3px;
}
.sub-menu-1{
    display: none;
}
.container ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(247, 245, 245);
    margin-top: 15px;
    margin-left: -10px;
    z-index: 999;
    /* color: white; */
}
.container ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 20px;
   
}

.container ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    background-color: transparent;
    border-radius: 0;
    text-align: left;

}
.container ul li:hover .sub-menu-1 ul li a:hover{
    color: #b2ff00;
}/* end dropdown works */
/* company dropdown */
.container ul li a{
    text-decoration: none;
    color: black;
    font-size:16px;
}
.active, .container ul li:hover{
   background: rgb(243, 240, 240);
   border-radius: 3px;
}
.sub-menu-2{
    display: none;
}
.container ul li:hover .sub-menu-2{
    display: block;
    position: absolute;
    background: rgb(247, 245, 245);
    margin-top: 15px;
    margin-left: 510px;
    z-index: 999;
    /* color: white; */
}
.container ul li:hover .sub-menu-2 ul{
    display: block;
    margin: 20px;
   
}

.container ul li:hover .sub-menu-2 ul li{
    width: 150px;
    padding: 10px;
    background-color: transparent;
    border-radius: 0;
    text-align: left;

}
.container ul li:hover .sub-menu-2 ul li a:hover{
    color: #b2ff00;
}

/*  * end dropdown works  company*/
/* dropdoun resourcse */

.container ul li a{
    text-decoration: none;
    color: black;
    font-size:16px;
}
.active, .container ul li:hover{
   background: rgb(243, 240, 240);
   border-radius: 3px;
}
.sub-menu-3{
    display: none;
}
.container ul li:hover .sub-menu-3{
    display: block;
    position: absolute;
    background: rgb(247, 245, 245);
    margin-top: 15px;
    margin-left: 610px;
    z-index: 999;
    /* color: white; */
}
.container ul li:hover .sub-menu-3 ul{
    display: block;
    margin: 20px;
   
}

.container ul li:hover .sub-menu-3 ul li{
    width: 150px;
    padding: 10px;
    background-color: transparent;
    border-radius: 0;
    text-align: left;

}
.container ul li:hover .sub-menu-3 ul li a:hover{
    color: #b2ff00;
}
/*  * end dropdown works  resorces*/


.secsections .head{
font-size: 40px;
color: black;
text-align: center;
margin-top: 80px;
}

.secsections .para{
    font-size: 20px;
    color: rgb(49, 48, 48);
    text-align: center;
    margin-top: 30px;
    margin-left: 210px;
    margin-right: 210px;
}
.para span{
    color: orangered;
}
/* carees */
.carees{
    background-color: rgb(234, 231, 231);
    height: 240px;
    width: 100%;
    color: black;
    font-size: 20px;

}
.paragraph{
    margin-top: -90px;
    font-size: 34px;
    font-weight: bold;
    margin-left: 620px;
}
/* second sections */
.secnnpartimg{
    display: flex;
    justify-content: space-evenly;
    padding: 100px;
    }
    .secnnpartimg1{
        width: 480px;
        font-size: 20px;
        margin-top: -54px;
    }
    .secnnpartimg1 p{
        margin-top: 20px;
        color: rgb(117, 115, 115);
    }
    .secnnpartimg2 img{
        width: 600px;
        margin-left: 72px;
    }
    .secnnpartimg1 h1{
        margin-left: -160px;
        color: rgb(80, 79, 79);
    }
    /* 3partsimages */
    
.secnnpartimg1 h1{
    margin-left: 4px;
    margin-top: 100px;
}
.secnnpartimg11{
    width: 400px;
    font-size: 20px;
}
.secnnpar p{
    margin-top: 20px;
    color: rgb(117, 115, 115);
    margin-left: 120px;
    font-size: 21px;
}
.secnnpartimg22 img{
    width: 600px;
    margin-top: -204px;
    margin-left: 59px;
   
}
.secnnpar h1{
    margin-left: 120px;
    color: rgb(80, 79, 79);
    /* top: -420px; */
    margin-top: -120px;
}
.secnnpar button{
    margin-top: 40px;
    background-color: #fff;
    color:  rgb(255, 42, 0);
    font-size: 20px;
    font-weight: bold;
    margin-left: -24px;
    margin-left: 100px;
}
.secnnpar span{
    color: orangered;
    font-weight: bold;
}
/* 3partsimages */

.secnnpartimg11 h1{
margin-left: 4px;
margin-top: 100px;
}
/* 3 */
.secnnpartimg3{
display: flex;
justify-content: space-evenly;
padding: 100px;
}
.secnnpartimg13{
    width: 400px;
    font-size: 20px;

}
.secnnpar13 p{
    margin-top: 20px;
    color: rgb(117, 115, 115);
    width: 420px;
    font-size: 21px;
}
.secnnpartimg23 img{
    width: 580px;
    margin-left: 60px;
    margin-top: -204px;
}
.secnnpar13 h1{
    /* margin-left: 2px; */
    color: rgb(80, 79, 79);
    /* top: -420px; */
    margin-top: -100px;
}
.secnnpar13 button{
    margin-top: 40px;
    background-color: #fff;
    color:  rgb(255, 42, 0);
    font-size: 20px;
    font-weight: bold;
    margin-left: -24px;
}
/* 3partsimages */

.secnnpartimg13 h1{
margin-left: 4px;
margin-top: 100px;
}
.secnnpar13 span{
color: orangered;
}
/* second last footer */
.second_last_footer{
width: 100%;

margin-top: -90px;
height: 260px;
background-color: rgb(235, 231, 231);

}
.second_last_footer p{
text-align: center;
width: 1000px;
margin-left: 320px;
font-size: 30px;
margin-top: 40px;
padding: 30px;
/* margin-bottom: 60px; */
/* height: 210px; */
}
.second_last_footer a{
margin-left: 790px;
margin-top: 10px;
font-size: 56px;
color: orangered;
}
/* button */
.btn{
    margin-left: 620px;
  
    font-weight: bold;
}
hr{
    color: orangered;
}
.btn button{
    background-color: orangered;
    color: white;
    margin-bottom: 80px;
}
.y{
    margin-top: 220px;
}
.secnnparr{
    margin-top: -190px;
    margin-left: 60px;
    width: 420px;
}
.secnnparr p{
    margin-top: 10px;
    font-size: 20px;
    /* letter-spacing: 2px; */
}
/* cards */
.cards{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 80px;
    margin-left: 20px;
}
.cards h1{
    color:rgb(96, 94, 94);
    font-size: 30px;
}
.cards button{
    color:  rgb(255, 42, 0);
    background-color: white;
    font-weight: bold;
    font-style: 20px;
    
}
.cards p{
    color: rgb(80, 79, 79);
}
.card img{
    width: 420px;
}
/* icons */
.icons{
    margin-top: 56px;
}
.icons img{
    width: 100%;
    height: 150px;
     /* position: absolute; */
}
.card p{
    width: 420px;
}
.icons-img img{
    /* position: relative; */
    width: 100px;
    height: 40px;
    margin-top: -100px;
    /* justify-content: space-evenly; */
    margin-bottom: 290px;
    
    margin-left: 160px;

    
}
/* mini-footer */
.mini-footer{
    font-size: 36px;
    text-align: center;
    width: 1400px;
    margin-left: 90px;
    margin-top: 40px;

}
.mini-footer button{
    font-size: 30px;
    color: orangered;
}
/* two-part */
.two-part{
    display: flex;
    justify-content: space-evenly;

}
.one{
    margin-left: 40px;
    width: 620px;
    text-align: center;
    color: rgb(64, 62, 62);
    font-size: 20px;
}
.one h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(53, 51, 51);
}
.two{
    text-align: center;
    width: 620px;
    color: rgb(64, 62, 62);
    font-size: 20px;
}
.two h2{
    font-size: 30px;
    margin-bottom: 20px;
    color: rgb(53, 51, 51);
}
/* single image-parts */

.sinle-img{
    text-align: center;
    margin-top: 100px;
}
.sinle-img h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.dash2{
    width: 40px;
    height: 8px;
    background-color: orangered;
    margin-top: 40px;
    margin-left: 680px;
    border-radius: 20px;

    
}
.dash3{
    width: 40px;
    height: 8px;
    background-color: rgb(198, 195, 195);
    margin-top: 40px;
    margin-left: 18px;
    border-radius: 20px;
}
.dash4{
    width: 40px;
    height: 8px;
    background-color: rgb(198, 195, 195);
    margin-top: 40px;
    margin-left: 18px;
    border-radius: 20px;
}
.dash5{
    width: 40px;
    height: 8px;
    background-color: rgb(198, 195, 195);
    margin-top: 40px;
    margin-left: 18px;
    border-radius: 20px;
}
.dash6{
    width: 40px;
    height: 8px;
    background-color: rgb(198, 195, 195);
    margin-top: 40px;
    margin-left: 18px;
    border-radius: 20px;
}
.dash1{
    display: flex;
    /* justify-content: 20px; */
}
/* footer */

.center-footer2{
    width: 100%;
    height: 420px;
    /* background-color: rgb(219, 214, 214);
     */
     background-image: url("./img1.webp"); 
     background-size: cover;
     margin-top: 40px;
}
.center-footer12{
    display: flex;
    justify-content: space-evenly;
}
.Resources{
    display: flex;
    justify-content: space-evenly;  
    margin-left: -60px;
}
.important{
    margin-top: 60px;
}
.important .h{
    font-size: 30px;
}
.contact  .hh{
    font-size: 30px;
}

.contact{
    margin-top: 60px;
}
.img{
    margin-top: 60px;
}
.pa{
    margin-left: 200px;
    margin-top: 80px;
}
.list li{
    margin-top: 10px;
}
.list{
    margin-left: 60px;
}
.list1{
    margin-top: 20px;
}
.police{
    color: orangered;
}